<img id="myImg" src="assets/bg.jpg" class="img-circle img-responsive center-block">

<div class="panel panel-info myPanel">
    <div class="panel-heading">Contact info</div>
    <div class="panel-body">
        <h2>Ziv Levy</h2>
        <h3><span class="glyphicon glyphicon-home"></span>212 Hanahal, Alon Hagalil</h3>
        <h3><span class="glyphicon glyphicon-earphone"></span>0509288844</h3>
        <h3><span class="glyphicon glyphicon-envelope"></span>Email: Zivilevy@gmail.com</h3>
    </div>

</div>
